/[lL]ibrary/
/[lL]ogs/
/[uU]ser[sS]ettings/
/[tT]emp/
/[bB]uild/
/[bB]uilds/
/[eE]xports/
/[mM]emoryCaptures/
/[cC]rash[rR]eports/

.vscode/
.idea/
.vs/
/*.sln
/*.slnx
/*.csproj
/*.unityproj
/*.suo
/*.user
/*.userprefs
/*.pidb
/*.booproj
/*.svd
/*.pdb
/*.opendb
/*.VC.db

.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini